#!/bin/bash -ex
###############################################################################
METADATA_HOST=rancher-metadata.rancher.internal
METADATA_VERSION=2015-12-19
METADATA=$METADATA_HOST/$METADATA_VERSION
function metadata { echo $(curl -s $METADATA/$1); }
###############################################################################

MESOS_CLUSTER=${MESOS_CLUSTER:-"$(metadata self/stack/name)"}
MASTER_PORT=${MASTER_PORT:-"5050"}
SLAVE_PORT=${SLAVE_PORT:-"5051"}
ZK_SESSION_TIMEOUT=${ZK_SESSION_TIMEOUT:-"10secs"}
PRINCIPAL=${PRINCIPAL:-root}

function zk_service {
  ZK_SERVICE=${ZK_SERVICE:-"mesos/zk"}
  IFS='/' read -ra ZK <<< "$ZK_SERVICE"
  echo $(metadata stacks/${ZK[0]}/services/${ZK[1]}/$1)
}

if [ "$(zk_service containers)" == "Not found" ]; then
  echo "A zookeeper ensemble is required, but '$ZK_SERVICE' was not found."
  sleep 1 && exit 1
fi

function zk_container_primary_ip {
  IFS='=' read -ra c <<< "$1"
  echo $(zk_service containers/${c[1]}/primary_ip)  
}

function zk_string {
  ZK_CHROOT=${ZK_CHROOT:-"/$(metadata self/stack/name)"}
  ZK_STRING=
  for container in $(zk_service containers); do
    ip=$(zk_container_primary_ip $container)
    if [ "$ZK_STRING" == "" ]; then
      ZK_STRING=zk://$ip:2181
    else
      ZK_STRING=$ZK_STRING,$ip:2181
    fi
  done
  echo ${ZK_STRING}${ZK_CHROOT}
}

{% if type == 'master' %}
export MESOS_ZK=$(zk_string)
{% else %}
export MESOS_MASTER=$(zk_string)
{% endif %}
export MESOS_IP=$(metadata self/container/primary_ip)
export MESOS_HOSTNAME=$(metadata self/host/agent_ip)

### dunno how to use this ###
if [ -n "$SECRET" ]; then
    {% if type == 'master' %}
    export MESOS_AUTHENTICATE=true
    export MESOS_AUTHENTICATE_SLAVES=true
    {% endif %}
    touch /tmp/credential
    chmod 600 /tmp/credential
    echo -n "$PRINCIPAL $SECRET" > /tmp/credential
    export MESOS_CREDENTIAL=/tmp/credential
fi
### / dunno how to use this ###

/usr/sbin/mesos-{{ type }} \
{% if type == 'master' %}
  --zk_session_timeout=${ZK_SESSION_TIMEOUT} \
  --port=${MASTER_PORT} \
{% else %}
  --port=${SLAVE_PORT} \
{% endif %}
  "$@"
